.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  margin: auto;
  max-height: 580px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
.caption {
  display : relative;
  top: -20px;

}
img {
  width: 50%;
  margin: auto;
}


#container {
  margin-left: auto;
  margin-right: auto;
}

#fb-logout-link {
  text-align: right;

}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


body {
  background: black;
}

p {
  color: white;
}
